.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        %a.name
          = current_user.name
      .top-items__icon
        = link_to "#", class: "icon--btn" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "edit--btn")
  .side-bar__group-list
    .group
      .group-name
        %h techcamp
      .group-messages
        %a comments